.finanzas-page {
  background-color: #f8f1e4;
  min-height: 100vh;
  font-family: 'Segoe UI', sans-serif;
  color: #000;
}

.titulo-mes {
  font-size: 1.8rem;
  font-weight: bold;
}

.btn-navegacion {
  background: none;
  border: none;
  font-size: 1.5rem;
  color: #000;
}

.tarjeta-gastos {
  background-color: #dcae58;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grafico-wrapper {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grafico-container {
  position: relative;
  width: 100%;
  height: 350px; 
}

#graficoGastos {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.lista-gastos-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.lista-gastos-wrapper h4 {
  font-weight: bold;
}

.tarjeta-cuentas {
  background-color: #dcae58;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}


.tarjeta-cuentas .badge {
  background-color: #2069d4;
  border-radius: 30px;
}

.balance-final {
  margin-top: 2rem;
}

.lista-gastos-scroll {
  height: 350px; 
  overflow-y: auto;
  padding-right: 5px;
}
