.lista-pago-item {
  padding: 1rem;
  border-radius: 12px;
  margin-bottom: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
}

.tipo-gasto-titulo {
  font-size: 1.1rem;
  font-weight: 600;
  color: #0d6efd;
  background-color: #e7f1ff;
  padding: 6px 12px;
  border-radius: 8px;
  display: inline-block;
  margin: 0 auto;
  width: fit-content;
}
