.tareas {
    background-color: #DA6868;
    min-height: 50vh;
}
.titulo {
	background-color: #DA6868;
	color: #FFF8E7;
	width: 100%;
	padding: 20px 0;
	text-align: center;
	letter-spacing: 1px;
	border-top-left-radius: 30px;
	border-top-right-radius: 30px;
}
.card.hecha {
	background-color: #FFF8E7 !important;
	color: #A8C97F;
	border: 1px solid #A8C97F;
}

.add-task-button {
  width: 220px;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
  background-color: #E2B659;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.add-task-button:hover {
  background-color: #6FB8A8;
  color: #2c2c2c;
}

.add-task-button:active {
  background-color: #A8C97F;
  color: #2c2c2c;
}
