.card-hecha {
  background-color: #4579ae !important;
  color: white !important;
  border-color: #001f3f !important;
}

>>>>>>> f14294d (ok)
.card-hecha {
  background-color: #4579ae !important;
  color: white !important;
  border-color: #001f3f !important;
}

.btn-hecha {
  background-color: white !important;
  color: #4579ae !important;
  border: 2px solid white !important;
  font-weight: bold;
}
