.user-container {
  width: 320px;
  margin: 60px auto;
  padding: 20px 30px;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  background-color: #2c2c2c;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.register-container {
  width: 640px;
  margin: 60px auto;
  padding: 20px 30px;
  border: 1px solid #2c2c2c;
  border-radius: 12px;
  background-color: #2c2c2c;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  text-align: center;
}

.editprofile-container {
  padding: 20px 30px;
  background-color: #2c2c2c;
}

.user-container h2 {
  margin-bottom: 20px;
  color: #FFF8E7;
}

.user-form input {
  display: block;
  width: 100%;
  padding: 10px 12px;
  margin-bottom: 15px;
  font-size: 16px;
  border: 1.5px solid #FFF8E7;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.user-form input:focus {
  border-color: #6FB8A8;
  outline: none;
}

a {
  color: #6FB8A8;
  text-decoration: none;
  font-weight: bold;   
}

a:hover {
  color: #A8C97F;
  text-decoration: none;
}

a:active {
  color: #E2B659;
  text-decoration: none;
}

.user-button {
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600;
  color: #2c2c2c;
  background-color: #6FB8A8;
;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.user-button:hover {
  background-color: #A8C97F;
  color: #2c2c2c;
}

.user-button:active {
  background-color: #E2B659;
  color: #2c2c2c;
}

.users-table {
  border-collapse: separate !important;
  border-spacing: 0;
  border-radius: 0.75rem;
  overflow: hidden;
}

.user-icon {
  padding: 10px 0;
  font-size: 20px;
  font-weight: 600;
  color: #6FB8A8;
;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.25s ease;
}

.user-icon:hover {
  color: #A8C97F;
}

.user-icon:active {
  color: #E2B659;
}
