* {
  font-family: 'Kantumruy', sans-serif;
}

.bg-charcoal {
    background-color: #2c2c2c;
}

.bg-ivory {
    background-color: #FFF8E7;
}

.bg-plumdust {
    background-color: #B39CB2;
}

.bg-coral {
    background-color: #DA6868;
}

.bg-aqua {
    background-color: #6FB8A8;
}

.bg-sage {
    background-color: #A8C97F;
}

.bg-ochre {
    background-color: #E2B659;
}

.charcoal {
    background-color: #2c2c2c;
}

.ivory {
    color: #FFF8E7;
}

.plumdust {
    color: #DFD5DE;
}

.coral {
    color: #DA6868;
}

.aqua {
    color: #6FB8A8;
}

.sage {
    color: #A8C97F;
}

.ochre {
    color: #E2B659;
}

.user-avatar {
    height: 50px;
    width: 50px;
    object-fit: cover;
}

.fixed-navbar {
	height: 5rem;
	overflow: hidden;
}

.navbar .nav-link:hover {
    color: #FFF8E7 !important;
}

.logo {
    height: 60px;
    width: auto;
}

.hamburger-icon {
    font-size: 1.5rem;
}